# Core Framework
alembic
bcrypt
Flask[async]==3.0.0
Flask-Cors
Flask-Limiter
Flask-Migrate
Flask-SQLAlchemy
gunicorn
inngest
langchain-core
langchain-google-genai
Mako
pdfplumber
psycopg2-binary
pydantic
pydantic-settings
PyJWT
PyMuPDF
python-docx
python-dotenv
python-json-logger
redis
spacy
SQLAlchemy
werkzeug
